@charset "UTF-8";

body#cadastro{
    background-image: url("../imagens/imgCadastro.jpg");
    background-size: 100%;
    
}

.campos{
    margin-top: 10px;
    position: static;
    left: 420px;
    color: gold;
    text-shadow: 2px 2px 4px black;
    font-size: 18px;
    font-weight: bolder;
}

.sexo{
    width: 120px;;
}

.espaco{
    margin-right: 110px;
    top: 5px;
    background-color: rgb(112, 111, 111);                                                                                                                                    
    color: gold;
}   
h1{
    font-size: 30px;
    color: gold;
    text-shadow: 4px -4px 8px red;
    font-weight: bold;
}